/* line 7, ../scss/style.scss */
html {
  height: 100%;
}

/* line 11, ../scss/style.scss */
body {
  background-image: url("../images/black_pattern02_bw.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  height: 100%;
  min-height: 100%;
}

/* line 23, ../scss/style.scss */
p {
  font-weight: 100 !important;
}

/* line 28, ../scss/style.scss */
.greenborder {
  border-color: #86cd4d;
}

/* line 31, ../scss/style.scss */
.LogoDiv {
  margin-top: 15vh;
  vertical-align: middle;
}

/* line 36, ../scss/style.scss */
#Logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 70%;
}

/* line 42, ../scss/style.scss */
#content {
  opacity: 1.0;
  transition: 1s;
}

/* line 46, ../scss/style.scss */
.center {
  margin-left: auto;
  margin-right: auto;
}

/* line 50, ../scss/style.scss */
#nav {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 55, ../scss/style.scss */
#nav li {
  display: inline;
}
/* line 58, ../scss/style.scss */
#nav a {
  display: inline-block;
  padding: 10px;
}

/* line 63, ../scss/style.scss */
a {
  color: #86cd4d;
  text-decoration: none;
  font-weight: 100;
  font-size: 20px;
  transition: 0.2s;
}

/* line 71, ../scss/style.scss */
a:hover {
  color: white;
}

/* line 75, ../scss/style.scss */
.circleBase {
  border-radius: 50%;
  behavior: url(PIE.htc);
  /* remove if you don't care about IE8 */
}

/* line 80, ../scss/style.scss */
.type1 {
  width: 15px;
  height: 15px;
  /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(circle, white 1%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0) 60%);
  /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, white 1%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0) 60%);
  /* For Firefox 3.6 to 15 */
  background: radial-gradient(circle, #ffffff 1%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0) 60%);
  /* Standard syntax (must be last) */
}

/* line 94, ../scss/style.scss */
.line-linkage {
  width: 85%;
  height: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  top: 7px;
  left: 57%;
}

/* line 102, ../scss/style.scss */
.ft {
  width: 100%;
  display: inline-block;
  padding: 0px;
  font-size: 20px;
  font-weight: 100;
  color: #86cd4d;
  transition: 0.3s;
}

/* line 111, ../scss/style.scss */
.ft:hover {
  color: white;
}

/* line 114, ../scss/style.scss */
#navtable {
  background: none;
  border: none;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

/* line 126, ../scss/style.scss */
.full-modal {
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  height: 100% !important;
  width: 100% !important;
  top: 0px !important;
  left: 0px !important;
  margin: 0px 0px 0px 0px !important;
  position: fixed;
  overflow: auto;
}

/* line 138, ../scss/style.scss */
.close-full-modal {
  position: fixed !important;
  top: 5px !important;
  right: 5px !important;
}
